<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/backup_rules_31_and_above"
        android:fullBackupContent="@xml/backup_rules_until_30"
        android:extractNativeLibs="true"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="s" />
</manifest>